html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    meta(name='x-apple-disable-message-reformatting')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
  body(style='padding:0; margin:0px;')

    block preheader


    table(style='table-layout: fixed; margin:0 auto; padding: 20px 0; width: 100%; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif; background-color: #e3e7ee; width: 100%; min-width: 600px;', border='0', cellspacing='0', cellpadding='0', width='100%', align='center')
      tbody
        tr
          td
            table(style='margin: 0 auto; padding: 0; width: 600px; max-width: 600px; min-width: 600px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif; background: #ffffff;', border='0', cellspacing='0', cellpadding='0', width='600', align='center')
              tbody
                tr
                  td
                    table(width='100%', border='0', cellspacing='0', cellpadding='0')
                      tbody
                        tr
                          td(align='center' style='padding: 15px; background-color: #eaf3fb;')
                            a(href='https://liketo.me/', target='_blank')
                              img(border='0', style='border: 0; outline: none; text-decoration: none; display: block;', src='./images/logo.png', width='50', height='50', alt='liketo.me')
                tr
                  td(style='padding: 15px 40px 0 40px')
                    table(width='100%', border='0', cellspacing='0', cellpadding='0')
                      tr
                        td(style='padding: 30px 0;')
                          block content
                      tr
                        td
                          table(width='100%', border='0', cellspacing='0', cellpadding='0')
                            tbody
                              tr
                                td(style='padding: 30px 15px; border-top: 1px solid #ccd8e3')
                                  table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                    tbody
                                      tr
                                        td(width='50%' align='right' style='padding-right: 30px; border-right: 1px solid #ccd8e3')
                                          a(href='tel:++380442002305' style='font-size: 14px; color: #000000; text-decoration: none;') Тел.: +38 044 200 23 05
                                        td(width='50%' align='left' style='padding-left: 30px;')
                                          a(href='mailto:support@liketo.me' style='font-size: 14px; color: #2c7bc9;') support@liketo.me

