extends base

block preheader
  p(style='color: transparent; display: none!important; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') Preheader for thanks mail

block content
  table(width='100%', border='0', cellspacing='0', cellpadding='0' style='font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
    tr
      td
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Привіт, Єгор!
        p(style='margin: 0 0 20px 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Я Сергій з Liketo.me.
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Хочу залишити тобі це повідомлення, щоб переконатися, що Liketo.me справляється з твоїми завданнями.
        br
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Якщо у вас є питання про продукт або відгуки, просто дайте нам знати.
        br
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Ми завжди тут, щоб допомогти.
        br
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Спасибі!


