extends base

block preheader
  p(style='color: transparent; display: none!important; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') Preheader for register mail

block content
  table(width='100%', border='0', cellspacing='0', cellpadding='0' style='font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
    tr
      td
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;') Вітаємо, Єгор!
        p(style='margin: 0 0 20px 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Ви були успішно зареєстровані в сервісі
          =" "
          a(href='https://liketo.me/', target='_blank', style='color: #2c7bc9') liketo.me
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | логін:
          =" "
          span(style='color: #2c7bc9; text-decoration: underline;') s.tenkov1975@gmail.com
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;') пароль: 09bVKtZvJm
    tr
      td(style='padding: 40px 0;' align='center')
        table(border='0', cellspacing='0', cellpadding='0' style='font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          tbody
            tr
              td(width='260px', align='center', style='font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif; font-size: 20px; color: #ffffff; vertical-align: middle; -webkit-text-size-adjust: none; display: block; background-color: #33a28e; border-radius: 6px;')
                a(href='#', target='_blank', style='font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif; font-size: 20px; color: #ffffff; text-decoration: none; display: inline-block; padding: 13px 0 13px 0; width: 100%; border-radius: 6px;') Розпочати
    tr
      td
        p(style='margin: 0 0 20px; color: #a8b3c2; font-size: 14px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Якщо посилання вище не працює, будь ласка, скопіюйте URL в нове вікно браузера:
        p(style='margin: 0; color: #a8b3c2; font-size: 14px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          a(href='#', target='_blank', style='color: #2c7bc9; font-size: 14px;') https://app.surveyapp.io/account/reset-password/50bcbca6fa904bec9b