extends base

block preheader
  p(style='color: transparent; display: none!important; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') Preheader for reset report mail

block content
  table(width='100%', border='0', cellspacing='0', cellpadding='0' style='font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
    tr
      td
        p(style='margin: 0 0 10px; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Привіт, Єгор!
        p(style='margin: 0 0 20px; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Ваш Excel файл з результатами опитування успішно завантажений.
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Зверніть увагу, файл знаходиться нижче, прикріпленим до цього листа.