extends base

block preheader
  p(style='color: transparent; display: none!important; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') Preheader for reset password mail

block content
  table(width='100%', border='0', cellspacing='0', cellpadding='0' style='font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
    tr
      td
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Привіт, Єгор!
        p(style='margin: 0 0 20px 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Ви запросили зміну пароля.
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Щоб ініціювати процес зміни пароля для вашого облікового запису mail.tenkov@gmail.com Liketo.me, натисніть на посилання нижче:
          br
          br
          a(href='#', target='_blank', style='color: #2c7bc9') https://app.surveyapp.io/account/reset-password/50bcbca6fa904bec9b7db0c4d1ec60ae
          br
          br
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Якщо натискання на посилання вище не працює, будь ласка, скопіюйте та вставте URL в нове вікно браузера.
        br
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Посилання дійсне тільки протягом 24 годин.
        br
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Якщо ви отримали цей лист помилково, швидше за все, інший користувач помилково ввів Вашу електронну адресу електронної пошти при спробі зміни пароля. Якщо ви не ініціювали запит, вам не потрібно робити ніяких подальших дій, можете ігнорувати цей лист.


