extends base

block preheader
  p(style='color: transparent; display: none!important; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') Preheader for thanks mail

block content
  table(width='100%', border='0', cellspacing='0', cellpadding='0' style='font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
    tr
      td
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Welcome to Liketo.me!
        p(style='margin: 0 0 20px 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Спасибі, що приєдналися до Liketo.me
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | liketo.me є потужним інструментом, який допоможе Вам отримувати щоденну зворотний зв'язок від Ваших клієнтів про задоволеність вашими послугами і товарами.
        br
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Нижче наведені деякі поради, які допоможуть отримати найкращі результати від ваших опитувань:
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Найкраще місце встановлення терміналу, біля виходу.
        ul
          li У більшості випадків найкраще розміщувати пристрій праворуч від проходу, тому що більшість людей правші.
          li Навіть невелике коригування розташування терміналу може істотно змінити кількість зворотнього зв'язку.
          li Розташуйте термінал так, щоб клієнтові не довелося відхилятися від свого шляху.
        p(style='margin: 0; color: #000000; font-size: 17px; font-family: Arial, Helvetica, Tahoma, Liberation Sans, Sans, sans-serif;')
          | Якщо вам потрібна допомога, будь ласка, не соромтеся відповідати на це повідомлення. Ми зв'яжемося з вами, як можна швидше. Ви також можете звернутися в наш
          =" "
          a(href='#', target='_blank', style='color: #2c7bc9') Центр підтримки.


